@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box !important;
}

.logo {
    width: 150px;
    height: auto;
    min-width: 150px;
}

.cart-icon {
    width: 22px;
    min-width: 22px;
    height: auto;
}

.nav-avatar {
    width: 52px;
    min-width: 52px;
    height: auto;
}

/* .img-showcase-section img {
    width: 30rem;
    min-width: 30rem;
    height: auto;
} */
